<template>
  <div id="app">
    <div>
      <div slot="header">
        <h3>SELECCIONAR PAIS</h3>
      </div>
      <vs-select class="selectExample" label="Pais" v-model="pais.data">
        <vs-select-item v-for="(item, index) in pais" :key="index" :value="item.value" :text="item.text" />
      </vs-select>
      <vs-button class="primary" type="filled" @click="guardar()" >GUARDAR</vs-button>
    </div>
    <div>
      <vs-card>
        <div slot="header">
          <h3>TABLA</h3>
        </div>
        <div>
          <vs-table :data="paises">
            <template slot="header">
              <h3>PAISES SELECCIONADOS</h3>
            </template>
            <template slot="thead">
              <vs-th>Pais</vs-th>
              <vs-th>Accion</vs-th>
            </template>
            <template slot-scope="{data}">
              <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                  <vs-td :data="data[indextr].pais">
                    {{ data[indextr].pais }}
                  </vs-td>
                  <vs-td>
                    <vs-button radius color="warning" type="filled" icon="edit" @click="editar(indextr)"></vs-button>
                    <vs-button radius color="danger" type="filled" icon="delete" @click="borrar(indextr)"></vs-button>
                </vs-td>
              </vs-tr>
            </template>
          </vs-table>
        </div>
      </vs-card>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: 'App',
  data () {
    return {
      paises:[],
      indexPais: null,
      value1: '',
      dialogForm: false,
      select1:2,
      url: 'https://restcountries.eu/rest/v2/all',
      pais: {
        data: []
      }
    }
  },
  mounted () {
    this.paises = this.$storage.get('paises')

    axios.get('https://restcountries.eu/rest/v2/all').then((respuesta) => {
      this.pais = respuesta;
      console.log('===== DESDE AXIOS =====');
      console.log(respuesta);
      console.log('===== DESDE AXIOS =====');
    });
  },
  methods: {
    editar (index) {
      this.indexPais = index
      this.pais = { ...this.paises[index] }
      this.dialogForm = true
    },
    borrar (index) {
      this.paises.splice(index, 1)
      this.$storage.set('paises', this.paises)
    },
    restForm () {
      this.pais = ''
    },
    guardar () {
      if (this.indexPais) {
        this.paises[this.indexPais] = { ...this.pais }
        const paisParcial = [...this.paises]
        this.paises = null
        this.paises = paisParcial
        this.indexPais = null
      } else {
        this.paises.push(this.pais)
      }
      this.$storage.set('paises', this.users)
      this.restForm()
      this.dialogForm = false
    }
  }
}
</script>
